.body {
  // width: 100%;
  // height: 100%;
  // background: #aaa;
  padding: 16px 0;

  & .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  & .presets {
  }

  & .settings {

  }

  & h3 {
    margin-left: 16px;
  }
}

footer {
  display: block;
  position: absolute;
  margin-bottom: 0;
  width: 100%;
}
