@import '../../constants/constants.scss';

.lights-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.bg-yellow {
  width: 100%;
  height: 100%;
  // background-color: $yellow;
  position: absolute;
  vertical-align: middle;
  transition: .5s;
  opacity: 0;
  background-image: radial-gradient(circle, $yellow 30%, $transparent);
}

.active .bg-yellow {
  opacity: 1;
  // background-image: radial-gradient(circle, $yellow, $transparent 70%);
}

.slider-container {
  margin: 50px 0;
}

input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 250px;
  cursor: pointer;
  border-radius: 20px;
  transform: rotate(-90deg);
  transform-origin: center;
}

input[type="range"]:focus {
  outline: none;
}

::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #f37335, #fdc830, #ffff77);;
  width: 250px;
  height: 150px;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0; /* 1 */
  height: 40px;
  // background: #00ff00;
  box-shadow: 100vw 0 0 100vw #ffffff
}

::-webkit-slider-thumb::after {
  background-color: #ff00ff;
  width: 10px;
  height: 10px;
  content: '';
}

::-moz-range-track {
  height: 40px;
  background: #fff;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 0;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  box-sizing: border-box;
}
